@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <hi>Contoso University</hi>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Tallinn University</h2>
        <p>
        Tallinn University is simple application that
        demonstrtes how to use Entity Framework Core an
        ASP.NET Core MVC web application.
        </p>
  </div>

</div>
