@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Tallinn University</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Tallinn University</h2>
        <p>
            Tallinn University is simple application that
            demonstrates how to use Entity Framework Core an
            ASP.NET Core MVC web application.
        </p>
    </div>
</div>
